div(fade-in)
  p Hi, I’m Marion Sebbage, a recent graduate of Graphic Design at Shillington College, Manchester, and Marketing, Design and Communication at Nottingham Trent University.
  p With a background in both art and business, I love to get excited about all of the different elements that make up an overall experience.
  p Please feel free to get in touch:<br />mlsebbage@gmail.com

  div.social-media
    a(href='https://twitter.com/marionsebbage'): i.icon-twitter
    //- a(href='http://uk.linkedin.com/pub/marion-sebbage/23/277/a95'): i.icon-linkedin
    a(href='http://www.pinterest.com/marionsebbage'): i.icon-pinterest